@font-face {
    font-family: 'Horizon';
    src: url('assets/horizon/horizon-personaluse-webfont.woff') format('woff'),
    url('assets/horizon/horizon-personaluse-webfont.woff2') format('woff2');

}

:root {

    /* sidebar stuff */
    --sidebar-min-width: 300px;
    --sidebar-width: 0.37;
    /** logo stuff */
    --logo-bg-height-factor: 1.2;
    --logo-height-width-ratio: 0.2;
    --logo-text-factor: 0.7;
    --logo-top: 25%;
    --logo-padding-factor: 5.8;
    --logo-gap: 10px;
    --logo-bg-color: rgba(0, 0, 0, 0.607);
    --logo-text-color: white;

    /* main stuff */
    --core-color: purple;
    --accent-color: pink;
    --neutral-color: lightgrey;
    --main-padding: 5%;
    --main-max-width: 1000px;
    --main-width-factor: 0.7;

    /** signup info */
    --signup-top: 20%;
    /** form stuff */
    --form-text-color: grey;
    --form-error-color: red;
    --form-focus-color: blue;
    --form-area-bg-color: white;
    
}
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

/* SIDEBAR STUFF */

.sidebar {
    --sidebar-actual-width: max(calc(var(--sidebar-width)*100vw), var(--sidebar-min-width));

    background-image: url('assets/bg.png');
    background-position: 51%;
    background-attachment:scroll;
    /* have to have really long monitor */
    background-repeat: no-repeat;

    /* limit sidebar size */
    width: var(--sidebar-actual-width); 
    /*height: 100%; */
}

.logo {
    --text-actual-size: calc(var(--sidebar-actual-width)*var(--logo-height-width-ratio));

    /* space out items and center */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--logo-gap);

    /* padding and keep items in sidebar */
    box-sizing: border-box;
    padding: max(calc(var(--logo-padding-factor)*10px), calc(var(--logo-padding-factor)*1vw));
    
    height: calc(var(--text-actual-size)*var(--logo-bg-height-factor));

    /* position it within sidebar */
    position: relative;
    top: var(--logo-top);
    
    /* add black semi-transparent bg */
    background-color: var(--logo-bg-color);
}

.logo > img {
    height: var(--text-actual-size);
    width: auto;
}

.logo-text {
    font-family: 'Horizon';
    font-size: calc(var(--text-actual-size)*var(--logo-text-factor));
    color: var(--logo-text-color);
}

/* MAIN CONTENT STUFF */

.container {
    --inner-width: calc(min(var(--main-max-width), 100%)*var(--main-width-factor));
    display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    background-color: var(--neutral-color);
}

.sign-up-info {
    width: var(--inner-width);
    margin-top: min(var(--signup-top), 300px);
    font-size: 1.6em;
    font-weight: 700;
    padding: var(--main-padding);
}


/* FORM AREA */

.form-area {
    width: 100%;
    background-color: var(--form-area-bg-color);
    padding: var(--main-padding);
    padding-top: 0px;
    box-shadow: 3px 3px 6px #888;
}

#sign-up {
    display: flex;
    flex-wrap: wrap;
    width: var(--inner-width);
}

#sign-up div {
    flex: 1 1 42%;
    padding: 5px;
}

#sign-up div * {
    display: block;
} 

.form-area > p {
    font-size: 1.4em;
    font-weight: 700;
}

/* Post-FORM area */

.post-form {
    padding: var(--main-padding);
    width: var(--inner-width);
}

.italic {
    font-style: italic;
}