@font-face {
    font-family: 'Horizon';
    src: url('assets/horizon/horizon-personaluse-webfont.woff') format('woff'),
    url('assets/horizon/horizon-personaluse-webfont.woff2') format('woff2');

}

:root {
    /* ISSUES
    *   on very small width, bgimg & neutral bg do not extend down
    *      when form is collapsed.
    *   
    *
    *         */


    /* sidebar stuff */
    --sidebar-min-width: 300px;
    --sidebar-width: 0.37;
    --sidebar-max-width: 600px;
    --sidebar-actual-width: min(var(--sidebar-max-width), max(calc(var(--sidebar-width)*100vw), var(--sidebar-min-width)));

    /** logo stuff */
    --logo-bg-height-factor: 1.2;
    --logo-height-width-ratio: 0.2;
    --logo-text-factor: 0.7;
    --logo-top: 25%;
    --logo-padding-factor: 5.8;
    --logo-gap: 10px;
    --logo-bg-color: rgba(0, 0, 0, 0.607);
    --logo-text-color: white;

    /* main stuff */
    --core-color: #8d4d94;
    --accent-color: pink;
    --shadow-color: #ccc;
    --neutral-color: #FDF6F5;
    --main-padding: 50px;
    --main-max-width: 1100px;
    --main-width-factor: 0.9;

    --large-font-size: 1.3em;

    /** signup info */
    --signup-top: 7%;

    /** form stuff */
    --form-height: 23.5%; 
    --label-color: #333;

    --form-border-unfocused-color: lightgrey;
    --form-border-invalid-color: red;
    --form-border-focus-color: var(--core-color);

    --form-area-bg-color: white;

    --form-spacing: 10px;
    --form-field-width: 14em;

    --label-space: 0.05em; 
    --label-weight: 600; 
    --label-size: 0.8em; 

    --form-field-left: 5px;
    
}
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

/* SIDEBAR STUFF */

.sidebar {
    

    background-image: url('assets/bg.png');
    background-position: 51%;
    background-attachment:scroll;
    /* have to have really long monitor */
    background-repeat: no-repeat;

    /* limit sidebar size */
    width: var(--sidebar-actual-width); 
    /*height: 100%; */
}

.logo {
    /* height of img and text size depends on sidebar width */
    --text-actual-size: calc(var(--sidebar-actual-width)*var(--logo-height-width-ratio));

    /* space out items and center */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--logo-gap);

    /* padding and keep items in sidebar */
    box-sizing: border-box;
    padding: max(calc(var(--logo-padding-factor)*10px), calc(var(--logo-padding-factor)*1vw));
    
    height: calc(var(--text-actual-size)*var(--logo-bg-height-factor));

    /* position it within sidebar */
    position: relative;
    top: var(--logo-top);
    
    /* add black semi-transparent bg */
    background-color: var(--logo-bg-color);
}

.logo > img {
    height: var(--text-actual-size);
    width: auto;
}

.logo-text {
    font-family: 'Horizon';
    font-size: calc(var(--text-actual-size)*var(--logo-text-factor));
    color: var(--logo-text-color);
}

/* MAIN CONTENT STUFF */

.container {
    /* consistent width on big screens */
    --inner-width: calc(var(--main-width-factor)*min(var(--main-max-width), 100%));
    
    background-color: var(--neutral-color);

    /* organize items */
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sign-up-info {
    width: calc(var(--inner-width)*0.8);
    /* slightly responsive */
    margin-top: var(--signup-top);
    
    padding: 22px;
    padding-left: var(--main-padding);

    font-size: var(--large-font-size);
    font-weight: 700;
}


/* FORM AREA */

.form-area {
    background-color: var(--form-area-bg-color);
    
    /* off-x off-y blur (spread) color*/
    box-shadow: 0px 1.5px 6px var(--shadow-color);

    padding: 22px;
    padding-left: var(--main-padding);
    padding-top: 0px;
}

/* text above form */
.form-area > p {
    font-size: var(--large-font-size);
    font-weight: 700;
}

/* FORM ITSELF */

#sign-up {
    display: flex;
    flex-wrap: wrap;
    width: var(--inner-width);
}

.field {
    padding: var(--form-spacing);
    /* prevents more than 2 fields on same row */
    flex: 1 1 40%;

    /*necessary for spans absolute pos, the markers */
    position: relative;
    
}

.field label, .field input {
    /* keeps everything on its own line */
    /* particularly for email field */
    display: block;
} 

.warning-marker {
    /* position all post-field markers to the right of fields */
    /* without taking space below */
    position: absolute;
    display: inline;
    top: 2.1em;
    left: calc(-0.5em + var(--form-field-width));
}

label {
    color: var(--label-color);
    letter-spacing: var(--label-space);
    font-weight: var(--label-weight);
    font-size: var(--label-size);
    /* i figure this makes the html look less weird */
    text-transform: uppercase;
}

button, input {
    /* consistency across items */

    font-family: inherit;
    font-size: 100%;

    width: var(--form-field-width);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    outline: none;
}

input, label {
    /* makes it look nicer */
    padding: 2px;
    padding-left: var(--form-field-left);
}

.req > label::after {
    content: '*'
}

input {
    border-style: none;
    border: 1px solid var(--form-border-unfocused-color);
    border-radius: 4px;
}

input:focus {
    border: 1.5px solid var(--form-border-focus-color);
    box-shadow: 0.3px 0.7px 2px var(--shadow-color);
}

/* :not(:placeholder-shown) will only activate after user input */
input:not(:placeholder-shown):invalid {
    border: 1.5px solid var(--form-border-invalid-color);
}

input:not(:placeholder-shown):invalid+.warning-marker::after {
    content: "✖";
    color: var(--form-border-invalid-color);
}

input:not(:placeholder-shown):valid+.warning-marker::after {
    content: "✔";
    color: var(--core-color);
}

.field input:not(:placeholder-shown):invalid ~ .warning-email,
.field input:not(:placeholder-shown):invalid ~ .warning-pwd-invalid {
   display: block;
   position: relative;
   color: var(--form-border-invalid-color);
}

.warning-pwd-invalid::before, .warning-pwd-nomatch::before {
    content:'* ';
 }

/* visibility handled by JS */
.warning-pwd-nomatch {
    position: relative;
    color: var(--form-border-invalid-color);
 }

/* Post-FORM area */

.post-form {
    padding: 40px;
    padding-left: var(--main-padding);
    width: var(--inner-width);
}

#btn-submit {
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    box-shadow: 0px 3px 8px #888;
    border-style: none;
    appearance: none;
    background-color: var(--core-color);
}

.italic {
    font-style: italic;
}